{{#section 'head'}}
    <link href="/css/products.css" type="text/css" rel="stylesheet"/>
{{/section}}

<section class="row">
    <div class="col-lg-12">
        <section class="row product-results-container">
            {{#each products}}
                <section class="product-container col-md-6  col-lg-offset-1 col-lg-3">
                    <section class="product-thumbnail">
                        <img  src="http://www.darceyscandles.co.uk/{{ThumbnailUrl}}" alt="thumbnail image"/>   
                    </section>
                    <section class="product-info">
                        <h3>{{Title}}</h3>
                        <div>
                            £{{Price}}
                        </div>
                    </section>
                </section>
            {{/each}}
        </section>
    </div>
</section>
