{{#section 'head'}}
    <link href="/css/products.css" type="text/css" rel="stylesheet"/>
{{/section}}

<section class="row">
    <div class="col-md-12">
        <section class="row product-results-container">
            {{#each products}}
                <section class="product-container col-md-6 col-lg-offset-1 col-lg-3">
                    <img class="product-thumbnail" src="/images/thumbnails/{{thumbnail.filename}}" alt="thumbnail image"/>                
                    <h2>{{title}}</h2>
                    <div>
                        {{description}}
                    </div>
                    <div>
                        £{{price}}
                    </div>
                </section>
            {{/each}}
        </section>
    </div>
</section>
