<section class="container">
    <div class="row">
        <h1 class="col-md-offset-2 col-md-8">Product title</h1>
    </div>
    <div class="row">
        <img class="col-md-offset-2 col-md-8" alt="full sized image" src="/"/>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8" class="product-details">
            £19.00
        </div>
    </div>
    <div class="row">
        <p class="col-md-offset-2 col-md-8" class="product-description">
            Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem 
            Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem. Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem Ipsum lorem 
        </p>
    </div>
</section>