.hero-image {
    background-image: url(/images/running-runner-long-distance-fitness-40751.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 17em 0;
}

.homepage-title {
    h2 {
        text-transform: uppercase;
        color: #BAC;
        font-size: 3em;
        font-weight: 300;
        text-align: center;
    }
}

.link-container a{
    display: inline;
    color: #CD8500;
    background-color: rgba(0,0,0,0.4);
    padding: 25px;
    width: 20px;
    font-size: 2em;
}

.link-container a, 
.link-container a:hover{
    text-decoration: none;
    color: #CD8500;
}

@media screen and (min-width: 960px){
    .link-container{
        text-align: center;
        margin-top: 5em;
    }
}
 