$font-color: #555f66;
$font-name: 'caviar';

@font-face{
    font-family: $font-name;
    src: url('/fonts/Caviar-Dreams/CaviarDreams.ttf');
}

html,body{
    margin: 0;
    padding: 0;
    color: $font-color;
    font-family: $font-name;
    line-height: 1.75em;
} 

.header{
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.25);
    color: $font-color;
}

.header a{
    color: $font-color;
}

.nav > li > a:hover, 
.nav > li > a:focus{
    background: #fff;
    color: $font-color;
}

.navbar{
    margin-bottom: 0;
}

.navbar-brand{
    text-transform: uppercase;
    position: relative;
    z-index: 1000;
}

.navbar-brand, 
.nav > li > a{
    margin-top: 15px;
    font-size: 2em;
}
