{{#section 'head'}}
  <link rel="stylesheet" type="text/css" href="/css/index.css">
{{/section}}
<section class="container-fluid">
    <div class="row">
        <div class="hero-image col-lg-12 col-sm-12 col-xs-12">
            <div class="homepage-title">
                <h2>Lea's Boutique</h2>
            </div>
            <div class="link-container">
<!--                <a href="crafts/">Craft</a>--> 
                <a href="darceys/">Darceys</a>
<!--                <a href="enchanted/">Enchanted Teardrops</a>-->
<!--                <a href="forever/">Forever</a>-->
            </div>
        </div>
    </div>
</section>