{{#section 'head'}}
  <link rel="stylesheet" type="text/css" href="/css/index.css">
{{/section}}
<section class="container-fluid">
    <div class="row">
        <div class="hero-image"></div>
    </div>
</section>