<h1>80 products found</h1>

<section class="product-results-container">
    <section class="product-container">
        <h3>Title</h3>
        <img alt="thumbnail image" src="/" />
        <p>Details</p>
    </section>
</section>