<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h1 class="col-md-6">80 products found</h1>
            </div>
            <section class="row product-results-container">
                <section class="product-container col-md-6">
                    <h3><a href="/product/1">Title</a></h3>
                    <img alt="thumbnail image" src="/" />
                    <p>Details</p>
                </section>
            </section>
        </div>
    </div>
</section>
