{{#section 'head'}}
  <link rel="stylesheet" type="text/css" href="/css/index.css">
{{/section}}
<section class="container-fluid">
    <div class="row">
        <div class="hero-image col-md-12">
            <div class="homepage-title">
                <h2>IPSUM FEUGIAT CONSEQUAT</h2>
            </div>
        </div>
    </div>
</section>