.product-results-container {
  margin-top: 2em; }

.product-container {
  margin-bottom: 1em; }

.product-thumbnail {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto; }

.product-thumbnail > img {
  max-height: 200px;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.product-info {
  text-align: center; }
