{{#section 'head'}}
<!--    <link href="/css/results.css" rel="stylesheet" type="text/css"/>-->
{{/section}}

<div class="container">
    <div class="row gallery-container">
        {{#each crafts}}
            <div class="col-md-4 image-container"> 
                <img src="/images/thumbnails/{{thumbnail.filename}}" alt="thumbnail image"/>                
                <img class="main-image" src="/images/main/{{image.filename}}" alt="thumbnail image"/>

                <h2>{{title}}</h2>
                <div>
                    {{description}}
                </div>
            </div>
        {{/each}}
    </div>
</div>